<!DOCTYPE html>
<html lang="en">

<head>
   {{>head_links}}

</head>

<body>

    {{>navbar}}

    <!-- Body part-->

    <div class="container-fluid main_header">
        <div class="row">
            <div class=" col-12 col-md-10 mx-auto">
                <div class="row">
                   
                    <div class="col-12 col-md-6 main_header_right me-auto">

                        <figure>
                            <img src="about.png" height="350px" width="400px" title="_my_self_chandu_">
                        </figure>
                        

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Myself chandu</p>
                        <h3>I am a <span class="title_clr">MERN</span> stack developer</h3>
                        <a href="https://www.linkedin.com/in/chintalapudi-chandra-sekhar-2468b4287/"> <button>About me</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- footer -->
     {{!-- <footer>
        <p>Created with <span class="title_clr"> ❤ </span> by chandu</p>
     </footer> --}}

     {{>footer}}


</body>

</html>